@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

body {
    background-image: linear-gradient(to right bottom, #0590ec, #e7c645c3);
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 17px;
    /* border: 1px solid #100f0f76 ; */
    /* border-radius: 20px; */
    padding: auto;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right bottom, #1f89ec, #FFE57D);
    border-radius: 20px;
    height: 20px;
}

/* ::-webkit-scrollbar-thumb:hover {
    background-color: #0590ec;
} */


a {
    text-decoration: tomato;
    color: black
}



a:hover {
    text-decoration: none;
    color: rgba(55, 12, 247, 0.986);
}

.app_container {
    padding-top: 10px;
    height: 95vh;
    /* padding-bottom: 500px; */
    /* margin-bottom: 10px; */
}

.app_main-content {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    height: 96vh;
    overflow-y: auto;
}

.app_row {
    height: 97vh;
}

.sidebar_image {
    height: 110px;
    width: 120px;
    object-fit: contain;
    border-radius: 30px;
}

.sidebar {
    background-color: #fff;
    height: 96vh;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 10px black;
    text-align: center;
    /* overflow-y: auto; */
    /* width: 350px; */
}



.sidebar_email_display {
    /* content: fit; 
    text-align: center;
    width: 100px;*/
    text-overflow: unset
}

.sidebar_icon {
    height: 35px;
    width: 30px;
}

.sidebar_icon_pin {
    height: 25px;
    width: 20px;
}

.sidebar_name {
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0px;
}

.sidebar_item {
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    margin-bottom: 10px;
    padding-top: 6px;
    padding-left: 0px;
    height: 35px;
    font-size: 1.05rem;
    font-weight: 600;
    align-items: center;
    /* width: 120%; */
}

.sidebar_title {
    /* background-color: #f1f1e1; */
    /* margin: 0px 20px; */
    border-radius: 40px;
    /* background: size 100px; */
    align-items: center;

    background-image: linear-gradient(to right bottom, #5dace0, #f0e3ad);
    border-radius: 30px;
    margin: 10px 10px;
    /* transition: all 2s linear; */
    /* cursor: pointer; */
}

.sidebar_email {
    background-image: linear-gradient(to right bottom, #3D7EAA, #FFE47A);
    border-radius: 30px;
    margin: 10px 10px;
    transition: all 2s linear;
    cursor: pointer;
}

.sidebar_email:hover {
    transform: scale(1.09);
}

.sidebar_coffee {
    /* height: 40px; */
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}

.sidebar_contact {
    /* background-color: darkcyan; */
    padding: 20px -15px;
    font-weight: 600;
}

.sidebar_social-icons {
    /* background-color: rgb(187, 194, 196); */
    /* border-radius: 20px; */
    padding: 5px 5px;
    /* height: 30px; */
    background-image: linear-gradient(to right bottom, #3D7EAA, #FFE47A);
    border-radius: 30px;
    margin: 10px 10px;
    /* transition: all 2s linear; */
    /* cursor: pointer; */
}

.sidebar_email_display {
    text-align: center;
    text-overflow: ellipsis;
}

.sidebar_item_resume {
    /* height: 35x; */
    /* width: 10px; */
    padding: 2px;
}

@media(max-width: 991px) {
    .app_main-content {
        margin: 15px 15px;
    }
}

/* -------------------Navbar------------------------ */

.navbar_items {
    display: flex;
}

.navbar_item {
    margin-right: 20px;
    color: rgb(1, 1, 2);
    font-size: 1.05rem;
    cursor: pointer;
}

.navbar_active {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(146, 81, 2);
    border-bottom: 4px solid darkslategrey;
}

.navbar_item:hover {
    background: -webkit-linear-gradient(#3D7EAA, #FFE47A);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* -------------------Copyright */
.copy {
    /* padding: 25px;
    margin: -15px; */

    height: 85vh;
    padding-top: 20px;
    overflow-y: scroll;
    /* overflow-y: auto; */
}

/* --------------About-------------------- */
.about {
    /* padding: 25px;
    margin: -15px; */

    height: 85vh;
    padding-top: 20px;
    overflow-y: scroll;
    /* overflow-y: auto; */
}

.about_intro {
    font-size: 1.05rem;
    padding: 20px;
}

.about_container {
    /* padding: 10px; */
    background-color: #edeaf3;
    /* overflow-y: scroll; */
}

.about_heading {
    font-size: 25px;
    font-weight: 700;
    color: brown;
}

/* skill_card */
.skill_card {
    /* border: 4px #000; */
    background-color: rgb(233, 161, 161);
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow-y: auto;
}

.skill_card-icon {
    width: 60px;
    height: 50px;
}

.skill_card-title {
    font-weight: 700;
}

.skill_card-body {
    margin-left: 15px;
}

.skill_card-content {
    margin: 0px;
    font-size: 1rem;
    /* font-family: 'Courier New', Courier, monospace; */
    color: rgb(0, 0, 0);
    /* overflow-y: scroll; */
}

/* ---------------Experience---------------------------- */
.resume {
    padding: 25px;
    margin: -5px;
    height: 85vh;
    /* padding-top: 20px; */
    overflow-y: scroll;
    width: auto;
}

.resume_container {
    padding: 10px;
    background-color: #edeaf3;


}

/* ------------------languages--------------------------------------- */
.resume {
    padding-top: 20px;
}

.resume-card__heading,
.reume-language__heading {
    margin-left: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #354538;
}

.resume-card__body {
    margin-top: 10px;
}

.resume-card__title {
    font-weight: 700;
}

.resume-card__name {
    font-size: 16px;
}

.resume-card__details {
    font-size: 0.9rem;
    padding-top: 5px;
}

.language {
    padding-top: 10px;
}

.language_heading {
    margin-left: 10px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #354538;

}

/* -------------------------------Language Details---------------------------------------- */
.bar {
    width: 90%;
    background-color: #e3e7eb;
    border-radius: 20px;
    margin-bottom: 12px;

}

.bar_icon {
    /* padding-left: 5px; */
    border: 1px solid #161616;
    width: 35px;
    height: 30px;
    /* padding: 1px; */
    margin: 1px;
    border-radius: 10px;
}

.bar_wrapper {
    /* background-image: linear-gradient(90deg, #b39bda2c, #5aafba); */
    background-image: linear-gradient(to right bottom, #8bc0e4, #ddc979);
    border-radius: 20px;
    padding: 4px 14px;
    /* color: #344304; */
    font-size: 1.2rem;
    font-weight: 600;
}

/* --------------------Projects-------------------- */
.projects {
    height: 85vh;
    padding-top: 20px;
    overflow-y: scroll;
}

.projectDetails {
    min-width: 350px;
}

.projectDetails_wrapper {
    margin: 10px;
    width: 100%;
    /* height: 50%; */
    display: flexbox;
    /* min-height: 500px; */

}

.projectDetails_image {
    width: 100%;
    height: 250px;
    margin-bottom: 5px;
    border-radius: 30px;
    border: 1px solid #021309;
    transition: transform 0.5s linear;
}

.projectDetails_image:hover {
    transform: scale(1.05);
}

.projectDetails_icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.projectDetails_title {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects_navbar {
    display: flex;
    margin-bottom: 5px;
}

.projects_navbar>div {
    margin: 0 5px;
    font-size: 1rem;
    cursor: pointer;
}

.projectDetails_details {
    display: flex;
    font-size: 1.05rem;
    text-align: justify;
    margin-top: 10px;
    /* height: 250px; */
    text-overflow: ellipsis;
    overflow: overlay;
    /* margin-bottom: 10px; */
}